{
  "packages": [
    "{{ .chezmoi.sourceDir }}/pi-worktree-core",
    "{{ .chezmoi.sourceDir }}/pi-worktree-manager",
    "{{ .chezmoi.sourceDir }}/pi-task",
    "{{ .chezmoi.sourceDir }}/pi-loop-package",
    "{{ .chezmoi.sourceDir }}/pi-superpowers-package",
    "{{ .chezmoi.sourceDir }}/pi-claude-bridge"
  ],
  "defaultThinkingLevel": "high"
}
